* {
    font-family: "Linux Biolinum", "Inter UI", "Inter", sans-serif;
}

sexp {
    border: 1px solid #aaa;
    padding: 3px;
    margin: 3px;
    display: inline-block;
}

node {
    display: block;
    margin: 10px;
    border: 1px solid #aaa;
}

/* An element to allow better addressing. */
stmt {
    display: inline-block;
}

.shade {
    background-color: #93efff;
}

.matched-rule {
    background-color: #93efff;
}

.stmt-group {
    display: inline-block;
}

/* Styles for expressions */
.number { color: red; }
.atom { color: blue; }
.bool { color: green; }
.null { color: gray; }

.list { border: 1px solid black; }
.frame { border: 1px solid gray; }
.map { border: 1px solid orange; }
.cons { border: 1px solid #77777777; }

.list, .map, .frame, .cons {
    display: inline-block;
}

.number, .atom, .bool, .null, .list, .map, .index, .frame {
    margin: 0.2em;
}

table#two-columns td {
    vertical-align: top;
}

hr {
    color: #ff4222;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Sync with style.css */
