* {
    font-family: "Linux Biolinum", "Inter UI", "Inter", sans-serif;
}

sexp {
    border: 1px solid #aaa;
    padding: 3px;
    margin: 3px;
    display: inline-block;
}

node {
    display: block;
    margin: 10px;
    padding: 0.25em;
    border: 1px solid #aaa;
}

body {
    overflow-y: hidden;
    margin: 0;
    border: 0;
    padding: 0;
}

.panel {
    width: 50vw;
    height: 100vh;
    display: inline-block;
    overflow-y: scroll;
    margin: 0;
    border: 0;
    position: absolute;
}

.tab {
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
}

.tab.selected {
    background-color: #004f93;
    color: white;
}

/* using vw, vh (window width/height) */
#visual {
    top: 0;
    left: 0;
}

#display-panel {
    top: 0;
    left: 50vw;
}

/* An element to allow better addressing. */
stmt {
    display: inline-block;
}

div.stmt {
    display: inline-block;
}

.active.unproven {
    background-color: #ffa797;  /* reddish */
}

/*
.shade {
    background-color: #00a1c73f;
}

.matched-rule {
    background-color: #00a1c73f;
}
*/

.step-control-block {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    margin: 5px;
    display: inline-block;
    color: transparent;
    cursor: pointer;
}

.step-control-block.current-step {
    background-color: #00a1c73f;
}

.matched-rule {
    margin-top: 0.75em;
}

/* A clickable node/port to connect nodes on. */
.active {
    background-color: #00a1c73f;
    padding: 0.25em;
    border-radius: 0.25em;
    margin: 0.125em;
    cursor: pointer;
}

.active.selected {
    background-color: #ffea3aff;
}

.stmt-group {
    display: inline-block;
}

.type-notice {
    color: gray;
}

.comment {
    background-color: #ffdaa47f;
    padding: 0.25em;
}

/* Styles for expressions */
.number { color: red; }
.atom { color: #004a83; }
.bool { color: green; }
.null { color: gray; }

.list { border: 1px solid #3333337f; }
.frame { border: 1px solid gray; }
.map { border: 1px solid orange; }
.cons { border: 1px solid #77777777; }

.atom.variable {
    color: #0080a9;
    font-style: italic;
}

.atom.statement {
    color: #008b00;
    font-style: bold;
}

.atom.predicate {
    color: #ce00e1;
}

.atom.nonvar {
    color: #004a83;
}

.list, .map, .frame, .cons {
    display: inline-block;
}

.number, .atom, .bool, .null, .list, .map, .index, .frame {
    margin: 0.2em;
}

table#two-columns td {
    vertical-align: top;
}

hr.node-separator {
    color: #7777773f;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

summary:hover {
    background-color: #ffc4ff;
}

/* hr {
    color: #ff4222;
    margin-top: 2em;
    margin-bottom: 2em;
} */

/* Sync with style.css */

infix {
    display: inline;
}

