* {
    font-family: "Linux Biolinum", "Inter UI", "Inter", sans-serif;
}

sexp {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    display: inline-block;
}

node {
    display: block;
    margin: 10px;
    border: 1px solid gray;
}

/* sexp:hover {
    background-color: #77777777;
} */

